* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

li, a {
  list-style-type: none;
  text-decoration: none; }

.menu {
  z-index: 1;
  width: 100vw;
  background: #002f34;
  position: fixed; }
  .menu ul {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px; }
    .menu ul li {
      display: flex;
      align-items: center;
      width: auto;
      height: 100%;
      font-size: 20px;
      font-weight: 500; }
      .menu ul li .profile {
        color: #fff;
        transition: all 0.2s ease; }
      .menu ul li .profile:hover {
        color: #7f9799; }
      .menu ul li .add-ad {
        padding: 10px 20px;
        background: #fff;
        border: 2px solid #fff;
        border-radius: 10px;
        color: #002f34;
        transition: all 0.3s ease; }
      .menu ul li .add-ad:hover {
        color: #fff;
        background: #002f34;
        border: 2px solid #fff; }
      .menu ul li .logo {
        height: 90%;
        width: 10vw; }
        .menu ul li .logo img {
          height: 90%; }

.search {
  background: #f2f4f5;
  padding-top: 8vh;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .search .search-item {
    display: flex;
    justify-content: space-evenly; }
    .search .search-item .search-field {
      padding-left: 10px;
      font-size: 20px;
      border: none;
      height: 75px;
      width: 60vw; }
    .search .search-item .search-field:focus {
      outline: none !important; }
    .search .search-item .search-btn {
      font-size: 18px;
      border: none;
      border-left: 2px solid #f2f4f5;
      background-color: #fff;
      width: 10vw;
      transition: all 0.4s ease; }
    .search .search-item .search-btn:hover {
      cursor: pointer;
      background-color: #002f34;
      color: #fff; }

.ads {
  padding: 30px 0; }
  .ads .ad-main-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px; }
  .ads .ad-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 20vw);
    grid-template-rows: auto;
    gap: 10px; }
    .ads .ad-list .ad {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 15px;
      background: #f2f4f5;
      border-radius: 5px; }
      .ads .ad-list .ad .ad-img {
        width: 100%;
        margin-bottom: 10px; }
      .ads .ad-list .ad .ad-title {
        color: #000;
        margin-bottom: 25px;
        transition: all 0.3s ease; }
      .ads .ad-list .ad .ad-title:hover {
        color: #7f9799; }
      .ads .ad-list .ad .ad-info {
        font-size: 14px;
        margin-bottom: 10px; }

footer {
  text-align: center;
  background: #cbf7ee;
  padding: 50px 0; }
  footer .footer-logo {
    width: 7%;
    height: auto;
    margin-bottom: 35px; }
  footer .footer-text {
    font-weight: 300; }

@media (max-width: 992px) {
  .search {
    padding-top: 6vh; }

  .ads .ad-list {
    grid-template-columns: repeat(3, 30vw); } }
@media (max-width: 768px) {
  .search {
    padding-top: 7vh; }

  .ads .ad-list {
    grid-template-columns: repeat(2, 45vw); }

  footer .footer-logo {
    width: 30%; } }
@media screen and (max-width: 576px) {
  nav.menu {
    overflow: hidden; }
    nav.menu ul {
      height: 100px; }
      nav.menu ul li .logo {
        display: none; }
      nav.menu ul li .add-ad {
        text-align: center;
        margin-right: 15px; }

  .search {
    padding-top: 12vh; }
    .search .search-item .search-btn {
      width: 25vw; }

  .ads .ad-list {
    grid-template-columns: repeat(1, 90vw); }

  footer .footer-logo {
    width: 35%; } }
