@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: url("../assets/background.jpg") no-repeat fixed center center/cover;
}

li, a {
  list-style-type: none;
  text-decoration: none;
}

.menu {
  @include navigation;
}

.login {
  display: flex;
  justify-content: center;
  padding-top: 30vh;

  .login-form {
    width: 50vh;
    background: $white;
    border-radius: 5px;

    .login-tabs {
      @include login-tabs;
    }

    .login-info {
      @include login-info;
      @include login-btn;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .login {
    .login-form {
      width: 50vw;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media screen and (max-width: 576px) {
  nav.menu {
    overflow: hidden;

    ul {
      height: 100px;

      li {
        .logo {
          display: none;
        }

        .add-ad {
          text-align: center;
          margin-right: 15px;
        }
      }
    }
  }

  .login {
    .login-form {
      width: 80vw;
    }
  }
}
