@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

li, a {
  list-style-type: none;
  text-decoration: none;
}

.menu {
  @include navigation;
}

.search {
  background: $alice-blue;
  padding-top: 8vh;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .search-item {
    display: flex;
    justify-content: space-evenly;


    .search-field {
      padding-left: 10px;
      font-size: 20px;
      border: none;
      height: 75px;
      width: 60vw;
    }

    .search-field:focus {
      outline: none !important;
    }

    .search-btn {
      font-size: 18px;
      border: none;
      border-left: 2px solid $alice-blue;
      background-color: $white;
      width: 10vw;
      transition: all 0.4s ease;
    }

    .search-btn:hover {
      cursor: pointer;
      background-color: $dark-seal;
      color: $white;
    }
  }
}

.ads {
  padding: 30px 0;

  .ad-main-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
  }

  .ad-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 20vw);
    grid-template-rows: auto;
    gap: 10px;

    .ad {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 15px;
      background: $alice-blue;
      border-radius: 5px;

      .ad-img {
        width: 100%;
        margin-bottom: 10px;
      }

      .ad-title {
        color: $black;
        margin-bottom: 25px;
        transition: all 0.3s ease;
      }

      .ad-title:hover {
        color: $grey;
      }

      .ad-info {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }
}

footer {
  @include footer;
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .search {
    padding-top: 6vh;
  }

  .ads {
    .ad-list {
      grid-template-columns: repeat(3,30vw);
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .search {
    padding-top: 7vh;
  }

  .ads {
    .ad-list {
      grid-template-columns: repeat(2, 45vw);
    }
  }

  footer {
    .footer-logo {
      width: 30%;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media screen and (max-width: 576px) {
  nav.menu {
    overflow: hidden;

    ul {
      height: 100px;

      li {
        .logo {
          display: none;
        }

        .add-ad {
          text-align: center;
          margin-right: 15px;
        }
      }
    }
  }

  .search {
    padding-top: 12vh;

    .search-item {
      .search-btn {
        width: 25vw;
      }
    }
  }

  .ads {
    .ad-list {
      grid-template-columns: repeat(1, 90vw);
    }
  }

  footer {
    .footer-logo {
      width: 35%;
    }
  }
}